---

- name: "nrpe: Remove {{ nrpe_conf_file }}"
  ansible.builtin.file:
    path: "{{ nrpe_conf_file }}"
    state: absent
  when: nrpe_conf_recreate|default(false)|bool

- name: "nrpe: Create {{ nrpe_conf_file }}"
  command:
    cmd: "cp {{ nrpe_conf_file }}.sample {{ nrpe_conf_file }}"
    creates: "{{ nrpe_conf_file }}"

- name: "nrpe: Set owner and group of {{ nrpe_conf_file }}"
  ansible.builtin.file:
    path: "{{ nrpe_conf_file }}"
    owner: "{{ nrpe_conf_owner }}"
    group: "{{ nrpe_conf_group }}"

- name: "nrpe: Configure items in {{ nrpe_conf_file }}"
  ansible.builtin.lineinfile:
    dest: "{{ nrpe_conf_file }}"
    regexp: '^\s*#*\s*{{ item.key }}\s*=(.*)$'
    line: "{{ item.key }}={{ item.val }}"
    backup: "{{ nrpe_backup_conf }}"
  loop: "{{ nrpe_conf }}"
  when: item.present|default(true)
  notify: reload nrpe

- name: "nrpe: Remove items from {{ nrpe_conf_file }}"
  ansible.builtin.lineinfile:
    backrefs: true
    dest: "{{ nrpe_conf_file }}"
    regexp: '^\s*#*\s*{{ item.key }}\s*=(.*)$'
    line: '# {{ item.key }}=\1'
    backup: "{{ nrpe_backup_conf }}"
  loop: "{{ nrpe_conf }}"
  when: not item.present|default(true)
  notify: reload nrpe

# EOF
...
